html {
  background: white;
}

.container-fluid {
  margin-top: 32px;
}

.sidesAuto {
  margin: 0 auto !important;
}

.thanksPush {
  margin-top: 16px !important;
}

.containerNew {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  margin-top: 480px !important;
}

.ThankSvg {
  width: 382px;
  position: absolute;
  z-index: 0;
}

.recSvg {
  width: 337px;
  height: 275px;
  background: linear-gradient(200deg, #f246a3, #ffb9df);
  position: absolute;
  border-radius: 25px;
  margin-top: 107px;
  margin-left: 15px;
  z-index: -1;
}

h3 {
  margin-left: 8px;
  font-family: "Work Sans";
  font-size: 32px !important;
  font-weight: normal !important;
}

h4 {
  margin: 0 auto;
  margin-top: 4px !important;
  text-align: center;
  font-family: "Work Sans";
  font-size: 24px !important;
  font-weight: normal !important;
}

.bolden {
  font-weight: lighter !important;
  font-size: 28px !important;
}

.rectangle {
  height: 10px;
  width: 100%;
  border-radius: 16px;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.05);
}

.rectangleProgress {
  margin-top: 16px;
  height: 10px;
  width: 10%;
  border-radius: 16px;
  background: #f246a3;
}

.containerAlign {
  margin-top: 16px !important;
}

h5 {
  font-weight: normal !important;
}

.Qleft {
  float: left;
}

.Qright {
  float: right;
  margin-top: 6px;
}

.Qright a {
  color: black;
}

.Qright i {
  font-size: 1.3rem;
}

.Qleft h3 {
  color: rgba(130, 130, 130, 0.5);
  font-size: 24px;
}

p {
  margin-left: 32px;
  color: rgba(130, 130, 130, 0.5);
  font-family: "Work Sans";
  font-size: 14px !important;
  font-weight: normal !important;
}

.textCo {
  margin-left: 16px;
  color: #4f4f4f;
  font-family: "Work Sans";
  font-size: 14px !important;
  font-weight: normal !important;
}

.containerAlign .deepBlackp {
  margin-left: 32px;
  font-family: "Work Sans";
  margin-top: 32px;
}

.custom-text-field {
  width: 350px;
  height: 40px;
  padding: 28px;
  border-radius: 10px;
  margin-left: 8px;
  background-color: white;
  border: none;
  border-bottom: 1px solid rgba(130, 130, 130, 0.2);
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: normal;
  color: #000;
}

#custom-date-field-in,
#custom-date-field-out {
  width: 350px;
  height: 40px;
  margin-top: 8px;
  padding-right: 28px;
  padding-left: 28px;
  border-radius: 10px;
  margin-left: 8px;
  background-color: white;
  border: none;
  border-bottom: 1px solid rgba(130, 130, 130, 0.2);
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: normal;
  color: #000;
}

#custom-date-field-in,
#custom-date-field-out:focus {
  outline: none;
}

#dropdown-menu {
  width: 350px;
  height: 40px;
  margin-top: 8px;
  padding-right: 28px;
  padding-left: 28px;
  border-radius: 10px;
  margin-left: 8px;
  background-color: white;
  border: none;
  border-bottom: 1px solid rgba(130, 130, 130, 0.2);
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: normal;
  color: #000;
}

.custom-button {
  width: 350px;
  height: 94px;
  border-radius: 10px;
  margin-top: 16px;
  margin-left: 8px;
  background-color: white;
  text-decoration: none;
  border: none;
  border-bottom: 1px solid rgba(130, 130, 130, 0.2);
  font-family: "Work Sans";
  font-size: 16px !important;
  font-weight: normal !important;
  color: #000;
  display: flex;
  align-items: center;
}

.custom-button-feed {
  width: 340px;
  height: 50px;
  border-radius: 50px;
  margin-top: 25px;
  margin-left: 12px !important;
  background-color: rgba(130, 130, 130, 0.2);
  text-decoration: none;
  border: none;
  font-family: "Work Sans";
  font-size: 16px !important;
  font-weight: normal !important;
  color: #000;
  display: flex;
  align-items: center;
}

.custom-button-feed,
.mov {
  margin-right: 16px;
  color: #afafaf;
  margin-left: 32px;
  font-size: 1.7rem;
}

.custom-button-feed,
i {
  font-size: 1rem !important;
}

i {
  font-size: 1.5rem;
}

.movOutlet {
  margin-left: 50px;
  font-size: 1.7rem;
}

.movO {
  margin-right: 28px;
  color: #5447f2;
}

.movT {
  margin-right: 17px;
  color: #f246a3;
}

.movTh {
  margin-right: 30px;
  color: #48111e;
}

.custom-buttonNew {
  width: 350px;
  height: 94px;
  border-radius: 10px;
  margin-left: 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  text-align: center;
  line-height: 92px;
  font-family: "Work Sans";
  font-size: 20px !important;
  font-weight: normal !important;
}

.custom-buttonexit {
  margin-top: 143px;
  background-color: #f246a3;
}

.custom-buttonBlack {
  background-color: black;
}

.custom-buttonnext {
  margin-top: 68px;
}

.custom-buttonnextn {
  margin-top: 133px;
}

.custom-buttonnexthear {
  margin-top: 282px;
}

.custom-buttonnextfeed {
  margin-top: 46px;
}

.custom-buttonnextDone {
  position: absolute;
  margin-top: 532px;
  z-index: 1;
}
.selected {
  background-color: #ffd029;
  color: white;
}

/* Dashboard css **/

body {
  margin: 0;
  padding: 0;
}

.header-space {
  height: 50px;
  background-color: black;
}

.adm-fed-sys,
.adm-user-top,
.adm-signout-top {
  width: 30%;
  color: white;
  float: left;
  text-align: center;
}

.inputSearch {
  width: 190px;
  height: 40px;
  border-radius: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.left-side {
  margin-bottom: 25px;
  height: 860px;
  width: 247px;
  background-color: black;
  margin: 25px;
  border-radius: 25px;
  float: left;
  justify-content: center;
  text-align: center;

  color: white;
}

.list-side {
  margin-bottom: 50px;
}

.right-heading {
  margin-left: 380px;
  margin-top: 50px;
}

.numberSection {
  margin-top: 25px;
}

.nameHuge {
  font-size: 2rem;
  margin-left: 10px;
}

.box {
  margin-left: 50px;
  width: 295px;
  height: 165px;
  border-top: 1px solid #ddb245;
  background: linear-gradient(to bottom, white, #ffedbe);

  border-radius: 25px;
  margin-right: 50px;

  float: left;
}

.box1 {
  width: 295px;
  height: 165px;
  border-top: 1px solid #3d76cb;
  background: linear-gradient(to bottom, white, #c4dcff);

  border-radius: 25px;
  margin-right: 50px;

  float: left;
}

.box2 {
  width: 295px;
  height: 165px;
  border-top: 1px solid #292929;
  background: linear-gradient(to bottom, white, #bababa);

  border-radius: 25px;
  margin-right: 50px;

  float: left;
}

.box3 {
  width: 295px;
  height: 165px;
  border-top: 1px solid #f39572;
  background: linear-gradient(to bottom, white, #ffd5c5);

  border-radius: 25px;
  margin-right: 50px;

  float: left;
}

.right-down-heading {
  float: left;
}
.right-up-heading {
  margin-top: 48px;
  width: 70%;
  float: left;
  margin-left: 43px;
}

.right-down-heading {
  margin-top: 16px;
  border-top: 1px solid black;
  border-radius: 25px;
  width: 70%;
  float: left;
  margin-left: 43px;
}

.headi-up {
  float: left;
  padding-left: 32px;
  margin-right: 32px;
  text-decoration: none;
  list-style: none;
}

.headi-down {
  padding-left: 32px;
  float: left;
  margin-top: 48px;
  margin-right: 32px;
  text-decoration: none;
  list-style: none;
}

/**Login css**/

.mac-book-pro164-rectangle141 {
  top: 152px;
  left: 825px;
  width: 568px;
  height: 693px;
  position: absolute;
  border-radius: 0 16px 16px 0;
}

.login-backg {
  width: 440px;
  height: 627px;
  margin-left: 365px;
  margin-top: 185px;
  padding-top: 60px;
  background-color: white;
  border-radius: 16px 0 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin-text {
  font-size: 24px;
  padding-top: 16px;
}
.email-in {
  text-decoration: none;
  width: 378px;
  height: 64px;
  border: 0.1px solid rgba(0, 0, 0, 0.5);
  margin-top: 25px;
  padding-left: 50px;
}

.password-in {
  text-decoration: none;
  width: 378px;
  height: 64px;
  border: 0.1px solid rgba(0, 0, 0, 0.5);
  margin-top: 25px;
  padding-left: 50px;
}

.login-btn {
  background: black;
  border-radius: 50px;
  height: 48px;
  width: 197px;
  color: white;
  cursor: pointer;
  text-align: center;
  margin-top: 24px;
}

/**Login css**/

/** End of Dashboard css */
